<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= debug params %>
	<br>
	<%= debug session %>
	<hr>
	<br>

<% flash.each do |type, msg| %>
	<span><strong><%= type %> </strong><%= msg %></span>
<% end %>

<%= yield %>

</body>

<% if logged_in? %>
<hr>

<form action="<%=session_url%>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Sign Out">
</form>
<% end %>

</html>
